In [2]:
%pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\mehul\appdata\local\programs\python\python38\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.20.3 in c:\users\mehul\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mehul\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mehul\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\mehul\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

weather = pd.read_csv("all.csv", index_col="name")

In [4]:
weather

,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
name,,,,,,,,,,,,,,,,,,,,,
Bhopal,22-03-2023,31.2,19.0,25.7,29.1,19.0,25.0,7.8,35.1,0.0,...,22.5,10,10,2023-03-22T06:22:59,2023-03-22T18:32:09,0.02,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"VABP,remote"
Bhopal,23-03-2023,32.0,22.0,27.2,29.9,22.0,26.3,7.5,30.0,0.0,...,22.1,9,10,2023-03-23T06:22:01,2023-03-23T18:32:32,0.05,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,NaN
Bhopal,24-03-2023,33.9,22.6,28.5,31.8,22.6,27.5,7.7,27.7,0.0,...,24.6,10,10,2023-03-24T06:21:02,2023-03-24T18:32:55,0.08,Clear,Clear conditions throughout the day.,clear-day,NaN
Bhopal,25-03-2023,33.6,21.1,27.8,31.3,21.1,26.8,4.9,23.7,0.0,...,25.7,10,10,2023-03-25T06:20:03,2023-03-25T18:33:17,0.11,Clear,Clear conditions throughout the day.,clear-day,NaN
Bhopal,26-03-2023,34.2,22.0,28.4,31.9,22.0,27.2,4.2,21.8,0.1,...,24.0,10,10,2023-03-26T06:19:04,2023-03-26T18:33:40,0.15,Clear,Clear conditions throughout the day.,clear-day,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pune,01-04-2023,31.1,19.6,25.2,29.6,19.6,24.8,13.9,53.4,0.1,...,19.2,7,10,2023-04-01T06:29:13,2023-04-01T18:48:16,0.34,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,NaN
Pune,02-04-2023,32.9,19.0,25.2,30.8,19.0,24.5,9.7,41.5,0.0,...,24.9,9,10,2023-04-02T06:28:24,2023-04-02T18:48:29,0.37,Clear,Clear conditions throughout the day.,clear-day,NaN
Pune,03-04-2023,33.5,18.1,25.0,31.0,18.1,24.2,6.7,36.5,0.0,...,27.3,10,10,2023-04-03T06:27:35,2023-04-03T18:48:43,0.41,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,NaN
Pune,04-04-2023,33.8,17.6,24.8,31.3,17.6,24.1,9.7,45.7,0.0,...,27.3,10,10,2023-04-04T06:26:46,2023-04-04T18:48:57,0.44,Clear,Clear conditions throughout the day.,clear-day,NaN
Pune,05-04-2023,33.8,17.7,25.0,31.4,17.7,24.3,11.8,50.7,0.0,...,26.7,10,10,2023-04-05T06:25:58,2023-04-05T18:49:10,0.47,Clear,Clear conditions throughout the day.,clear-day,NaN

In [5]:
weather.apply(pd.isnull).sum()/weather.shape[0]

datetime            0.000000
tempmax             0.000000
tempmin             0.000000
temp                0.000000
feelslikemax        0.000000
feelslikemin        0.000000
feelslike           0.000000
dew                 0.000000
humidity            0.000000
precip              0.000000
precipprob          0.000000
precipcover         0.000000
preciptype          0.696970
snow                0.000000
snowdepth           0.227273
windgust            0.000000
windspeed           0.000000
winddir             0.000000
sealevelpressure    0.000000
cloudcover          0.000000
visibility          0.000000
solarradiation      0.000000
solarenergy         0.000000
uvindex             0.000000
severerisk          0.000000
sunrise             0.000000
sunset              0.000000
moonphase           0.000000
conditions          0.000000
description         0.000000
icon                0.000000
stations            0.924242
dtype: float64

In [6]:
core_weather = weather[[ "datetime","precip", "snow", "snowdepth", "tempmax", "tempmin"]].copy()
core_weather.columns = ["date","precip", "snow", "snow_depth", "temp_max", "temp_min"]

In [7]:
core_weather.apply(pd.isnull).sum()

date           0
precip         0
snow           0
snow_depth    15
temp_max       0
temp_min       0
dtype: int64

In [8]:
core_weather["snow"].value_counts()

0    66
Name: snow, dtype: int64

In [9]:
core_weather["snow_depth"].value_counts()

0.0    51
Name: snow_depth, dtype: int64

In [10]:
del core_weather["snow"]

In [11]:
del core_weather["snow_depth"]

In [12]:
core_weather[pd.isnull(core_weather["precip"])]

Empty DataFrame
Columns: [date, precip, temp_max, temp_min]
Index: []

In [13]:
core_weather.loc["22-03-2023":]

              date  precip  temp_max  temp_min
name
Bhopal  22-03-2023     0.0      31.2      19.0
Bhopal  23-03-2023     0.0      32.0      22.0
Bhopal  24-03-2023     0.0      33.9      22.6
Bhopal  25-03-2023     0.0      33.6      21.1
Bhopal  26-03-2023     0.1      34.2      22.0
...            ...     ...       ...       ...
Pune    01-04-2023     0.1      31.1      19.6
Pune    02-04-2023     0.0      32.9      19.0
Pune    03-04-2023     0.0      33.5      18.1
Pune    04-04-2023     0.0      33.8      17.6
Pune    05-04-2023     0.0      33.8      17.7

[66 rows x 4 columns]

In [14]:
core_weather["precip"].value_counts() / core_weather.shape[0]

0.0     0.696970
0.1     0.060606
0.5     0.060606
0.2     0.045455
0.4     0.030303
2.4     0.030303
1.6     0.015152
3.1     0.015152
1.1     0.015152
2.5     0.015152
11.7    0.015152
Name: precip, dtype: float64

In [15]:
core_weather["precip"] = core_weather["precip"].fillna(0)

In [16]:
core_weather.apply(pd.isnull).sum()

date        0
precip      0
temp_max    0
temp_min    0
dtype: int64

In [17]:
core_weather[pd.isnull(core_weather["temp_min"])]

Empty DataFrame
Columns: [date, precip, temp_max, temp_min]
Index: []

In [19]:
core_weather.loc["2023-03-22":"2023-04-05"]

Empty DataFrame
Columns: [date, precip, temp_max, temp_min]
Index: []

In [20]:
core_weather = core_weather.fillna(method="ffill")

In [21]:
core_weather.apply(pd.isnull).sum()

date        0
precip      0
temp_max    0
temp_min    0
dtype: int64

In [22]:
# Check for missing value defined in data documentation
core_weather.apply(lambda x: (x == 9999).sum())

date        0
precip      0
temp_max    0
temp_min    0
dtype: int64

In [23]:
core_weather.dtypes

date         object
precip      float64
temp_max    float64
temp_min    float64
dtype: object

In [24]:
core_weather.index

Index(['Bhopal', 'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal',
       'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal', 'Bhopal',
       'Bhopal', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai',
       'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai',
       'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Delhi', 'Delhi', 'Delhi',
       'Delhi', 'Delhi', 'Delhi', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata',
       'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata',
       'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Pune', 'Pune',
       'Pune', 'Pune', 'Pune', 'Pune', 'Pune', 'Pune', 'Pune', 'Pune', 'Pune',
       'Pune', 'Pune', 'Pune', 'Pune'],
      dtype='object', name='name')

In [25]:
core_weather.index = pd.to_datetime(core_weather.index)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "pandas\_libs\tslib.pyx", line 605, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslibs\parsing.pyx", line 318, in pandas._libs.tslibs.parsing.parse_datetime_string
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\dateutil\parser\_parser.py", line 1368, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\dateutil\parser\_parser.py", line 643, in parse
    raise ParserError("Unknown string format: %s", timestr)
dateutil.parser._parser.ParserError: Unknown string format: Bhopal

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "pandas\_libs\tslib.pyx", line 616, in pandas._libs.tslib.array_to_datetime
TypeError: invalid string coercion to datetime for "Bhopal" at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mehul\AppData\Local\Temp\ipykernel_14344\3501870966.py", line 1, in <module>
    core_weather.index = pd.to_datetime(core_weather.index)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\tools\datetimes.py", line 1073, in to_datetime
    cache_array = _maybe_cache(arg, format, cache, convert_listlike)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\tools\datetimes.py", line 229, in _maybe_cache
    cache_dates = convert_listlike(unique_dates, format)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\tools\datetimes.py", line 438, in _convert_listlike_datetimes
    result, tz_parsed = objects_to_datetime64ns(
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\arrays\datetimes.py", line 2177, in objects_to_datetime64ns
    result, tz_parsed = tslib.array_to_datetime(
  File "pandas\_libs\tslib.pyx", line 427, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslib.pyx", line 683, in pandas._libs.tslib.array_to_datetime
  File "pandas\_libs\tslib.pyx", line 829, in pandas._libs.tslib._array_to_datetime_object
  File "pandas\_libs\tslib.pyx", line 819, in pandas._libs.tslib._array_to_datetime_object
  File "pandas\_libs\tslibs\parsing.pyx", line 318, in pandas._libs.tslibs.parsing.parse_datetime_string
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\dateutil\parser\_parser.py", line 1368, in parse
    return DEFAULTPARSER.parse(timestr, **kwargs)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\dateutil\parser\_parser.py", line 643, in parse
    raise ParserError("Unknown string format: %s", timestr)
dateutil.parser._parser.ParserError: Unknown string format: Bhopal present at position 0

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\ultratb.py", line 1049, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\inspect.py", line 979, in getsourcelines
    lines, lnum = findsource(object)
  File "c:\Users\mehul\AppData\Local\Programs\Python\Python38\lib\inspect.py", line 798, in findsource
    raise OSError('could not get source code')
OSError: could not get source code